@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

.cont {
  width: 100%;
  background-color: transparent;
}

.input_container {
  height: 100%;
  position: relative;
  z-index: 20;
}

.input {
  height: 100%;
  width: 100%;
  padding: 0 5px;
  border: none;
  box-sizing: border-box;
  outline: none;
  font-size: 20px;
  font-family: "Comfortaa", cursive;
  background-color: transparent;
  color: #666;
  z-index: 1000;
}
.input:active {
  border: none;
}
.searchIcon {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  /* background-color: rgba(194, 6, 6, 0.4); */
}
.visible {
  visibility: visible;
  opacity: 1 !important;
}
.hidden {
  visibility: hidden;
}
.inputField {
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid;
  display: flex;
  align-items: flex-end;
  height: 100%;
  background: transparent;
  overflow: hidden;
}
.xContainer {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.UilSearch {
  height: 100%;
  display: flex;
  align-items: center;
  color: #757575;
  cursor: pointer;
}
.autocomplateContainer {
  transition: all 300ms;
  opacity: 0;
  position: absolute;
  width: 100%;
  padding-top: 10px;
}
.list {
  border-radius: 12px;
  /* background: linear-gradient(330deg, #11998e 0%, #38ef7d 100%); */
  box-shadow: 0px 4px 5px 0 rgba(0, 0, 0, 0.2),
    0px 5px 15px 0 rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
.noResult {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
